.card {
    max-width: 300px;
    margin: 8px;
    display: inline-block;
  }

.card-action {
    justify-content: center;
    width: 300px;
}

#elseBlock {
    justify-content: space-between;
}

.counter {
    margin: auto 10px;
}

.add-to-cart {
    width: 100%;
}